%dl
  %dt Login
  %dd= user.login
  %dt Login count
  %dd= user.login_count
  %dt Last request at
  %dd= user.last_request_at
  %dt Last login at
  %dd= user.last_login_at
  %dt Current login at
  %dd= user.current_login_at
  %dt Last login ip
  %dd= user.last_login_ip
  %dt Current login ip
  %dd= user.current_login_ip
