<%for(var attr in this.Class.scaffold_model.attributes){%>
    <%if(attr == 'id') continue;%>
    <td class='<%= attr%>' id='<%= singular_name%>_<%= this[singular_name][this.Class.scaffold_model.id] %>_<%= attr%>'>
            <%=this[singular_name].View().edit(attr)%>
    </td>
<%}%>
<td>
    <%= submit_tag("save", {Class: 'save'})%>
    <a href='javascript: void(0)' class='cancel'>cancel</a>
</td>