<%for(var attr in this.Class.scaffold_model.attributes){%>
    <%if(attr == 'id') continue;%>
    <td class='<%= attr%>' id='<%= singular_name%>_<%= this[singular_name][this.Class.scaffold_model.id] %>_<%= attr%>'>
            <%=this[singular_name][attr]%>
    </td>
<%}%>
<td>
    <a href='javascript: void(0)' class='edit'>edit</a>
    <a href='javascript: void(0)' class='delete'>delete</a>
</td>