%div#map{ :class => "size-#{@game.map_height}-#{@game.map_width}" }
  %ul#hexes
    - @game.map_hexes_groupped.each_with_index do |hexes, row|
      %li{ :class => "row-#{row}" }
        %ul
          - hexes.each do |hex|
            %li{ :class => "col-#{hex.col} #{hex.hex_type}" }
              %strong{ :class => "roll-#{hex.roll}" }
                = hex.roll
  %ul#nodes
    - @game.map_nodes_groupped.each_with_index do |nodes, row|
      %li{ :class => "row-#{row}" }
        %ul
          - nodes.each do |node|
            %li{ :class => "col-#{node.col} #{node.state} player-#{node.player_number}" }
  %ul#edges
    - @game.map_edges_groupped.each_with_index do |edges, row|
      %li{ :class => "row-#{row}" }
        %ul
          - edges.each do |edge|
            %li{ :class => "col-#{edge.col} road player-#{edge.player_number}" }

%p
  %strong Game state
  = @game.state
%p
  %strong Game phase
  = @game.phase
%p
  %strong Current player
  = @game.current_player_number
%p
  %strong Current roll
  = @game.current_roll
%p
  %strong Current turn
  = @game.current_turn

%p
  %strong Players
  %ul
    - @game.players.each do |player|
      %li
        %strong Login
        = player.user_login
      %li
        %strong State
        = player.state
      %ul
        %li
          %strong Lumber
          = player.lumber
        %li
          %strong Ore
          = player.ore
        %li
          %strong Grain
          = player.grain
        %li
          %strong Wool
          = player.wool
        %li
          %strong Bricks
          = player.bricks
        %li
          %strong Settlements
          = player.settlements
        %li
          %strong Cities
          = player.cities
        %li
          %strong Roads
          = player.roads
        %li
          %strong Points
          = player.points

  - form_tag game_player_path(@game) do
    = submit_tag "Join"
  - form_tag game_player_path(@game), :method => :delete do
    = submit_tag "Quit"
  - form_tag game_player_path(@game), :method => :put do
    = hidden_field_tag "player[event]", "start"
    = submit_tag "Start"

%p
  %strong State manipulation
  - form_tag game_path(@game), :method => :put do
    = hidden_field_tag "game[event]", "start"
    = submit_tag "Start"
%p
  %strong Phase manipulation
  - form_tag end_phase_game_path(@game), :method => :put do
    = submit_tag "End phase"

%p
  %strong Create nodes
  - form_tag game_nodes_path(@game) do
    = label_tag "node[row]", "Row"
    = text_field_tag "node[row]"
    = label_tag "node[col]", "Column"
    = text_field_tag "node[col]"
    = submit_tag "Create"

%p
  %strong Create edges
  - form_tag game_edges_path(@game) do
    = label_tag "edge[row]", "Row"
    = text_field_tag "edge[row]"
    = label_tag "edge[col]", "Column"
    = text_field_tag "edge[col]"
    = submit_tag "Create"
