#board
/= render @game.board

%dl#game
  %dt.state State
  %dd.state= @game.state
  %dt.turn Turn
  %dd.turn= @game.current_turn
  %dt.roll Roll
  %dd.roll= @game.current_dice_roll_value

%ol#players
  = render @game.players

%dl#player
  %dt.bricks Bricks
  %dd.bricks n/a
  %dt.grain Grain
  %dd.grain n/a
  %dt.lumber Lumber
  %dd.lumber n/a
  %dt.ore Ore
  %dd.ore n/a
  %dt.wool Wool
  %dd.wool n/a
  %dt.settlements Settlements
  %dd.settlements n/a
  %dt.cities Cities
  %dd.cities n/a
  %dt.roads Roads
  %dd.roads n/a

#menu
  %ul
    %li
      = link_to "Build", "#build"
    %li
      = link_to "Offer", "#offer"
    %li
      = link_to "Exchange", "#exchange"
    %li
      = link_to "Cards", "#cards"
  #build
    %ul
      %li.road
        = link_to "Road", nil, :class => "road"
      %li.settlement
        = link_to "Settlement", nil, :class => "settlement"
      %li.city
        = link_to "City", nil, :class => "city"
      %li.card
        = link_to "Development card", nil, :class => "card"
      %li.cancel
        = link_to "Cancel", nil, :class => "cancel"
  #offer
    %ul
      %li
        Bricks
        #offer_bricks
      %li
        Grain
        #offer_grain
      %li
        Lumber
        #offer_lumber
      %li
        Ore
        #offer_ore
      %li
        Wool
        #offer_wool
    = link_to "Offer", nil, :class => "offer"
  #exchange
    %ul
      %li
        Bricks
        #exchange_bricks
      %li
        Grain
        #exchange_grain
      %li
        Lumber
        #exchange_lumber
      %li
        Ore
        #exchange_ore
      %li
        Wool
        #exchange_wool
    = link_to "Offer", nil, :class => "offer"
  #cards
    %ul
