%div#map{ :class => "size-#{@game.map_height}-#{@game.map_width}" }
  %ul#hexes
    - @game.map_hexes_groupped.each_with_index do |hexes, row|
      %li{ :class => "row-#{row}" }
        %ul
          - hexes.each do |hex|
            %li{ :class => "col-#{hex.col} #{hex.hex_type}" }
              - if hex.robber?
                %strong{ :class => "robber" }
                  robber
              - else
                %strong{ :class => "roll-#{hex.roll}" }
                  = hex.roll

  %ul#nodes
    - @game.map_nodes_groupped.each_with_index do |nodes, row|
      %li{ :class => "row-#{row}" }
        %ul
          - nodes.each do |node|
            %li{ :class => "col-#{node.col} #{node.state} player-#{node.player_number}" }
  %ul#edges
    - @game.map_edges_groupped.each_with_index do |edges, row|
      %li{ :class => "row-#{row}" }
        %ul
          - edges.each do |edge|
            %li{ :class => "col-#{edge.col} road player-#{edge.player_number}" }

%p
  %strong Game state
  = @game.state
%p
  %strong Game phase
  = @game.phase
%p
  %strong Current player
  = @game.current_player_number
%p
  %strong Current roll
  = @game.current_dice_roll_value if @game.current_dice_roll?
%p
  %strong Current turn
  = @game.current_turn
%p
  %strong Current turn card played?
  = @game.current_turn_card_played?

%p
  %strong Players
  %ul
    - @game.players.each do |player|
      %li
        %strong Login
        = player.user_login
      %li
        %strong State
        = player.state
      %ul
        %li
          %strong Lumber
          = player.lumber
        %li
          %strong Ore
          = player.ore
        %li
          %strong Grain
          = player.grain
        %li
          %strong Wool
          = player.wool
        %li
          %strong Bricks
          = player.bricks
        %li
          %strong Settlements
          = player.settlements
        %li
          %strong Cities
          = player.cities
        %li
          %strong Roads
          = player.roads
        %li
          %strong Visible points
          = player.visible_points

  - form_tag game_player_path(@game) do
    = submit_tag "Join"
  - form_tag game_player_path(@game), :method => :delete do
    = submit_tag "Quit"
  - form_tag start_game_player_path(@game), :method => :put do
    = submit_tag "Start"

%p
  %strong Phase manipulation
  - form_tag end_turn_game_path(@game), :method => :put do
    = submit_tag "End turn"

%p
  %strong Dice
  - form_tag game_dice_rolls_path(@game) do
    = submit_tag "Roll"
%p
  %strong Create nodes
  - form_tag game_nodes_path(@game) do
    = label_tag "node[row]", "Row"
    = text_field_tag "node[row]"
    = label_tag "node[col]", "Column"
    = text_field_tag "node[col]"
    = submit_tag "Create"
%p
  %strong Expand nodes
  - form_tag game_nodes_path(@game) do
    = label_tag "node[col]", "Column"
    = text_field_tag "node[col]"
    = submit_tag "Create"
%p
  %strong Create edges
  - form_tag game_edges_path(@game) do
    = label_tag "edge[row]", "Row"
    = text_field_tag "edge[row]"
    = label_tag "edge[col]", "Column"
    = text_field_tag "edge[col]"
    = submit_tag "Create"
%p
  %strong Create robbery
  - form_tag game_robberies_path(@game) do
    = label_tag "robbery[row]", "Row"
    = text_field_tag "robbery[row]"
    = label_tag "robbery[col]", "Column"
    = text_field_tag "robbery[col]"
    = label_tag "robbery[sender_number]", "Player number to rob"
    = text_field_tag "robbery[sender_number]"
    = submit_tag "Create"
%p
  %strong Discard resources
  - form_tag game_discards_path(@game) do
    = label_tag "discard[bricks]", "Bricks"
    = text_field_tag "discard[bricks]"
    = label_tag "discard[grain]", "Grain"
    = text_field_tag "discard[grain]"
    = label_tag "discard[lumber]", "Lumber"
    = text_field_tag "discard[lumber]"
    = label_tag "discard[ore]", "Ore"
    = text_field_tag "discard[ore]"
    = label_tag "discard[wool]", "Wool"
    = text_field_tag "discard[wool]"
    = submit_tag "Discard"
%p
  %strong Create exchange (with bank)
  - form_tag game_exchanges_path(@game) do
    = label_tag "exchange[bricks]", "Bricks"
    = text_field_tag "exchange[bricks]"
    = label_tag "exchange[grain]", "Grain"
    = text_field_tag "exchange[grain]"
    = label_tag "exchange[lumber]", "Lumber"
    = text_field_tag "exchange[lumber]"
    = label_tag "exchange[ore]", "Ore"
    = text_field_tag "exchange[ore]"
    = label_tag "exchange[wool]", "Wool"
    = text_field_tag "exchange[wool]"
    = submit_tag "Create"
%p
  %strong Create offer
  - form_tag game_offer_path(@game) do
    = label_tag "offer[bricks]", "Bricks"
    = text_field_tag "offer[bricks]"
    = label_tag "offer[grain]", "Grain"
    = text_field_tag "offer[grain]"
    = label_tag "offer[lumber]", "Lumber"
    = text_field_tag "offer[lumber]"
    = label_tag "offer[ore]", "Ore"
    = text_field_tag "offer[ore]"
    = label_tag "offer[wool]", "Wool"
    = text_field_tag "offer[wool]"
    = submit_tag "Create"
%p
  %strong Delete offer
  - form_tag game_offer_path(@game), :method => :delete do
    = submit_tag "Delete"
%p
  %strong Current offer
  - if @game.offer
    %strong Bricks
    = @game.offer.bricks
    %strong Grain
    = @game.offer.grain
    %strong Lumber
    = @game.offer.lumber
    %strong Ore
    = @game.offer.ore
    %strong Wool
    = @game.offer.wool
    - form_tag game_offer_response_path(@game) do
      = hidden_field_tag "response[agreed]", "1"
      = submit_tag "Agree"
    - form_tag game_offer_response_path(@game) do
      = hidden_field_tag "response[agreed]", "0"
      = submit_tag "Decline"
    %p
      %strong Responses
      %ul
        - @game.offer.responses.each do |response|
          %li
            Player number
            = response.player.number
            = response.agreed
            - form_tag game_offer_path(@game), :method => :put do
              = hidden_field_tag "offer[recipient_number]", response.player.number
              = submit_tag "Trade"
  - else
    no offer
%p
  %strong Buy cards
  - form_tag game_cards_path(@game) do
    = submit_tag "Create"
%p
  %strong Cards
  %ul
    - @game.cards.each do |card|
      %li
        = card.class
        = card.state
        - form_tag game_card_path(@game, card), :method => :put do
          = label_tag "card[bricks]", "Bricks"
          = text_field_tag "card[bricks]"
          = label_tag "card[grain]", "Grain"
          = text_field_tag "card[grain]"
          = label_tag "card[lumber]", "Lumber"
          = text_field_tag "card[lumber]"
          = label_tag "card[ore]", "Ore"
          = text_field_tag "card[ore]"
          = label_tag "card[wool]", "Wool"
          = text_field_tag "card[wool]"
          = label_tag "card[resource_type]", "Resource type"
          = text_field_tag "card[resource_type]"
          = submit_tag "Play"
