%div#board{ :class => "size-#{board.height}-#{board.width}" }
  %ul#hexes
    - (0..10).each do |row|
      %li{ :class => "row-#{row}" }
        %ul
          - (0..10).each do |col|
            %li{ :class => "col-#{col}" }
              = render board.hexes_groupped[row][col] if board.hexes_groupped[row][col]
  %ul#nodes
    - (0..10).each do |row|
      %li{ :class => "row-#{row}" }
        %ul
          - (0..22).each do |col|
            %li{ :class => "col-#{col}" }
              = render board.nodes_groupped[row][col] if board.nodes_groupped[row][col]
  %ul#edges
    - (0..10).each do |row|
      %li{ :class => "row-#{row}" }
        %ul
          - (0..39).each do |col|
            %li{ :class => "col-#{col}" }
              = render board.edges_groupped[row][col] if board.edges_groupped[row][col]
