%li{ :class => classes_for_player(player) }
  %dl
    %dt.name Name
    %dd.name= player.user_login
    %dt.state State
    %dd.state= player.state
    %dt.resources Resources
    %dd.resources= player.resources
    %dt.cards Cards
    %dd.cards= player.cards_count
    %dt.points Points
    %dd.points= player.visible_points
