<div class="hexes">
  <ul>
    <% for(var row = 0; row < board.getHeight(); row++) { %>
       <li class="row-<%= row %>">
         <ul>
           <% for(var col = 0; col < board.getWidth(); col++) { %>
              <% var hex = board.getHex([row, col]) %>
              <% if(hex != undefined) { %>
              <li class="row-<%= hex.getRow() %> col-<%= hex.getCol() %> hex <%= hex.getType() %> <%= hex.hasRobber() ? 'robber' : '' %>">
                <% if(hex.getRoll() != undefined) { %>
                  <span class="roll roll-<%= hex.getRoll() %>"><%= hex.getRoll() %></span>
                <% } else if(hex.isHarbor()) { %>
                  <span class="<%= hex.getHarborType() %>-<%= hex.getHarborPosition() %>"><%= hex.getHarborType() %></span>
                <% } %>
                <span class="robber">robber</span>
              </li>
              <% } %>
            <% } %>
         </ul>
       </li>
    <% } %>
  </ul>
</div>
<div class="nodes">
  <ul>
    <% for(var row = 0; row < board.getHeight() + 1; row++) { %>
       <li class="row-<%= row %>">
         <ul>
           <% for(var col = 0; col < board.getWidth() * 2 + 2; col++) { %>
              <% var node = board.getNode([row, col]) %>
              <% if(node != undefined) { %>
                <li class="row-<%= row %> col-<%= col %> node <%= node.isSettled() ? node.getState() + ' player-' + node.getPlayerNumber() : '' %>">
                </li>
              <% } %>
           <% } %>
         </ul>
       </li>
    <% } %>
  </ul>
</div>
<div class="edges">
  <ul>
    <% for(var row = 0; row < board.getHeight() + 1; row++) { %>
       <li class="row-<%= row %>">
         <ul>
           <% for(var col = 0; col < board.getWidth() * 3 + 5; col++) { %>
              <% var edge = board.getEdge([row, col]) %>
              <% if(edge != undefined) { %>
                <li class="row-<%= row %> col-<%= col %> edge <%= edge.isSettled() ? 'road player-' + edge.getPlayerNumber() : '' %>">
                </li>
              <% } %>
           <% } %>
         </ul>
       </li>
    <% } %>
  </ul>
</div>
