<html>
    <head>
        <link rel="stylesheet" href="../jmvc/rhino/documentation/style.css" type="text/css" />
        <title><%= name%></title>
    </head>
    <body>
        <div id='left_side'></div>
        <div id='right_side'>
        	<h1>Application Summary <label><%= name%></label></h1>
            
            <h2>Classes</h2>
            <% things = MVC.Doc.Class.listing.sort( MVC.Doc.Pair.sort_by_name )%>
            <% for(var i = 0; i < things.length; i++){ %>
                <% var n = things[i].name%>
                <div><a href='classes/<%=n%>.html'><%=n%></a></div>
            <% }%>
            <h2>Constructors </h2>
            <% var sorted_constructors = MVC.Doc.Constructor.listing.sort( MVC.Doc.Pair.sort_by_name )%>
            <% for(var i = 0; i < sorted_constructors.length; i++){ %>
                <% var n =sorted_constructors[i].name%>
                <div><a href='classes/<%=n%>.html'><%=n%></a></div>
            <% }%>
        
            <h2>Files </h2>
            <% for(var i = 0; i < files.length; i++) {%>
              <div><a href="../<%=files[i].name%>"><%=this.clean_path( this.files[i].name)%></a></div>
            <%} %>
        </div>
    </body>
</html>