!!! Strict
%html{html_attrs}
  %head
    %title Settlers of Satan
    = stylesheet_link_tag "compiled/screen.css", :media => "screen, projection"
  %body
    #container
      = message_block :class => "message-block"
      %div
        - if current_user
          Logged in as
          = current_user.login
          ,
          = link_to "Logout", user_session_path, :method => :delete
        - else
          = link_to "Login", new_user_session_path
      #page
        = yield
    = sprockets_include_tag
