!!! Strict
%html{html_attrs}
  %head
    %title Settlers of Satan
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = javascript_include_tag "jquery-1.3.2.js", "application", "map", "hex", "game", "node", "edge", "player", "utils"
  %body
    #container
      #flash
        = flash[:success]
        = flash[:error]
        = flash[:notice]
      #page
        = yield
